<div class="container" id="pagenate">
  <div class="row">
    <div class="col-12">
    <%if @users.exists?%>
    <% @users.each do |user|%>
    <div class="card mb-3" id="user_<%= user.id %>">
      <div class="row">
        <%# ユーザーアイコン %>
        <div class="user-info col-3">
          <div class="info text-center">
            <p class="image"><%= link_to image_tag(user.image.variant(resize_to_fill: [70, 70]), class: 'user-image'),user_path(user.id) if user.image.attached? %></p>
            <p class="nickname"><%= link_to user.nickname,user_path(user.id) %></p>
          </div>
        </div>
        <%# ユーザーの目標など詳細 %>
        <div class="col-7">
          <div class="user-detail">
            <div class="border-bottom mb-3 pt-3 pb-3">・ジャンル :</span><span><%= user.category.name %></span></div>
            <div class="border-bottom mb-3 pb-3">・年齢 :</span><span><%= user.age.name%></span></div>
            <div class="border-bottom mb-3 pb-3">・目標 :</span><span><%= user.goal %></span></div>
            <div class="border-bottom mb-3 pb-3">・ちりつも時間合計 :</span><span><%= user.stacks.all.sum(:work_time_id) / 2.0%>時間</span></div>
          </div>
        </div>
        <%# フォロー機能 %>
        <div class="col-2 follow">
          <div id= "follow_<%= user.id %>">
            <% if current_user != user %>
              <% if current_user.following?(user) %>
                <p><%= link_to 'フォロー外す', user_relationships_path(user.id), method: :delete, class: "btn btn-warning"%></p>
              <% else %>
                <p><%= link_to 'フォローする', user_relationships_path(user.id), method: :post , class: "btn btn-outline-dark"%></p>
              <% end %>
            <% end %>
          </div>    
        </div>
      </div>
    </div>
    <%end%>
    <%# フォローしている人がいない場合 %>
    <%else%>
      <h3>フォロワーはいません</h3>
    <%end%>
    </div>
  </div>
</div>