<div class="card mb-2">
  <div class="card-body">
    <div class="card-title">
      <div class="profile">
        <div>
          <p class="image"><%= link_to image_tag(stack.user.image.variant(resize_to_fill: [70, 70]), class: 'user-image'),user_path(stack.user.id) if stack.user.image.attached? %></p>
          <p class="nickname text-center"><%=stack.user.nickname %></p>
        </div>
        <div class="text-right">
          <%if stack.achieved == true %>
            <p class="already">達成済</p>
          <%else%>
            <p class="notyet">未達成</p>
          <%end%>
        </div>
      </div>
      <%# ちりつも内容 %>
      <%= link_to stack_path(stack.id) do%>
        <h4 class="text-center" style="color:black"><%=stack.text %></h4>
      <%end%>
        <div class="text-right">
          <%# いいねをしているときの処理    %>
          <div class="counts">
            <div class="like-count">
              <p id="likes_<%= stack.id %>">
                <% if user_signed_in? && current_user.already_liked?(stack) %>
                  <%= link_to stack_likes_path(id: stack.id, stack_id: stack.id), method: :delete, remote: true do %>
                    <i class="fas fa-heart unlike-btn"></i>
                    <%= stack.likes.size %>
                  <%end%>
              </p>
              <%# いいねをしていない場合の処理 %>
              <p id="likes_<%= stack.id %>">            
              <% else %>
                <%= link_to stack_likes_path(id: stack.id, stack_id: stack.id), method: :post, remote: true do %>
                  <i class="far fa-heart like-btn"></i>
                  <%= stack.likes.size %>
                <%end%>
              <% end %>
              </p>
            </div>
            <span class="comment-count">
              <i class="far fa-comment-alt fa-lgfo"><%= Comment.where(stack_id: stack.id).size %></i>
            </span>
          </div>
          <div class="tags">
            <%stack.tags.each do |tag|%>
              <a class="tag" href="<%=tag_stacks_path(tag_id: tag.id)%>">
                <%="##{tag.name}"%>
              </a>
            <%end%>
          </div>
            <p>
              <%=time_ago_in_words(stack.created_at)%>前のちりつも      
            </p>             
        </div>
    </div>
  </div>
</div>
