<div class="container">
  <div class="row">
    <div class="col s12 m12 l4">
      <div class="card">
        <div class="card-content">
          <h3>ちりつも数ランキング</h3>
          <% @all_ranks.each.with_index(1) do |user, index| %>
            <li id="rank<%= index %>" class="slider-item" style="list-style-type: none">
              <h4>
                <% if index == 1 %>
                  <i class="fas fa-crown" style="color: #FFD700"></i><%= "第#{index}位" %>
                <% elsif index == 2%>
                  <i class="fas fa-crown" style="color: #AAAAAA"></i><%= "第#{index}位" %>
                <% elsif index == 3%>
                  <i class="fas fa-crown" style="color: #8B4513"></i><%= "第#{index}位" %>
                <% end %>
              </h4>
              <p>
                <%= link_to image_tag(user.image.variant(resize_to_fill: [50, 50]), class: 'user-image'),user_path(user.id) if user.image.attached? %><%=user.nickname%>
                （<%= user.category.name%>）
              </p>
              <p>
                ちりつも数合計：<%= user.stacks.where(achieved: 1 ).size %>
              </p>
            </li>
          <% end %>     
        </div>
        <%=link_to '3位以降を見る',ranking_users_path%>
      </div>
      <div class="card">
        <div class="card-content">
          <h3>同カテゴリーちりつも数ランキング</h3>
      
        </div>
      </div>      
      <div class="card">
        <div class="card-content">
          <h6>週間ちりつも時間ランキング</h6>
        </div>
      </div>            
    </div>


  <div class="col s12 m12 l8">  
  <%# 積み上げの投稿を1つづつに分ける %>
  <% if @stacks.exists?%>
  <% @stacks.each do |stack| %>  
    <%= render partial: 'index', locals: {stack: stack} %>
    <%end%>
    <%end%>
  </div>

</div>
</div>

