<%= render "shared/header" %>

<ul class="stacks">
<% @stacks.each do |stack| %>
<%# 積み上げの投稿を1つづつに分ける %>
<li class="stack">
 <%= link_to stack_path(stack.id) do %>
 <p><%=stack.user.nickname %></p>
 <p><%=stack.text %></p>
  <p><%=time_ago_in_words(stack.created_at)%>前のちりつも</p>
 <% end %>
</li>
<% end %>
</ul>



