<div class="container" id="pagenate">
  <div class="row">
    <div class="col-md-5">
      <div class="card mb-5">
        <div class="card-content">
          <h4 class="card-title text-center border-bottom pb-3 pt-3">
            人気のタグ
          </h4>  
        </div>
        <div class="divider"></div>
        <div class="card-content row flex">
          <% @tag_lists.each do |list|%>
          <div class="tags">
            <a class="tag" href="<%= tag_stacks_path(tag_id: list.id) %>">
              <%= "##{list.name}" %><span class="tag-count">(<%= list.stacks.count %>件)</span>
            </a>
          </div>
          <% end %>
        </div>
      </div>      
      <div class="card">
        <div class="card-content">
          <h4 class="card-title text-center border-bottom pb-3 pt-3">ちりつもランキング</h4>
          <% @all_ranks.each.with_index(1) do |user, index| %>
            <li id="rank<%= index %>" class="slider-item" style="list-style-type: none">
              <h4>
                <% if index == 1 %>
                  <i class="fas fa-crown" style="color: #FFD700"></i><%= "第#{index}位" %>
                <% elsif index == 2%>
                  <i class="fas fa-crown" style="color: #AAAAAA"></i><%= "第#{index}位" %>
                <% elsif index == 3%>
                  <i class="fas fa-crown" style="color: #8B4513"></i><%= "第#{index}位" %>
                <% end %>
              </h4>
              <p>
                <%= link_to image_tag(user.image.variant(resize_to_fill: [50, 50]), class: 'user-image'),user_path(user.id) if user.image.attached? %><%=user.nickname%>
                （<%= user.category.name%>）
              </p>
              <p>
                成功数：<%= user.stacks.where(achieved: 1 ).size %>
              </p>
            </li>
          <% end %>     
        </div>
        <p class="text-right">
          <%=link_to '3位以降を見る',ranking_users_path%>
        </p>
      </div>         
    </div>
    <%# 画面右側のちりつも一覧 %>
    <div class="col-md-7">  
      <% if @stacks.exists?%>
        <%= render partial: 'stack',collection: @stacks %>
      <%end%>
    </div>
  </div>
  <div class="paginate-bottom">
    <%= paginate @stacks,remote: true %>
  </div>
</div>
<%=@success_parson%>

