<div class="container">
  <div class="row justify-content-center">
    <div class="col s12 m12 l10">
      <div class="card hoberable">
        <div class="card-body">
          <div class="card-title">
            <div class="profile">
              <p class="image"><%= link_to image_tag(@stack.user.image.variant(resize_to_fill: [70, 70]), class: 'user-image'),user_path(@stack.user.id) if @stack.user.image.attached? %></p>
              <p class="nickname"><%=@stack.user.nickname %></p>
            </div>
            <div class="col-lg-1 offset-10">
              <% if user_signed_in? && (current_user.id == @stack.user_id) %>
                <%= link_to stack_path(@stack.id), method: :delete do %>
                <i class="fas fa-trash-alt" style="font-size: 30px"></i>
                <%end%>
              <% end %>     
            </div>  
          </div>
          <div class="card-text text-center">
            <h5><%=@stack.text %></h5>
          </div>
          <div class="card-text">
            <div class="col-lg-2, align-self-end">  
              <div class="likes_<%= @stack.id %>">
                <%= render partial: 'likes/likes', locals: { stack: @stack} %>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>

  <%# コメントform、コメント一覧 %>
    <div class="card hoberable">
      <div class="card-body">
        <div class="comments" id="comments">
          <h4><i class="far fa-comment-alt fa-lgfo"></i> コメント一覧</h4>
            <% @comments.each do |comment| %>
              <%= render "comments/comment", stack: @stack, comment: comment %>
            <% end %>
        </div>   
        <div class="card-title">
          <% if user_signed_in? %>
            <%= form_with(model: [@stack, @comment], remote: true) do |f| %>
            <%= render 'shared/error_messages', model: f.object %>
            <form>
              <div class="form-group">
                <%= f.text_field :text, placeholder: "内容", class: 'form-control' %>
              </div>
                <%= f.submit "送信", class:"btn btn-success"%>            
            </form>
            <% end %>
          <% end %>
        </div>            
        </div>
      </div>
    </div>
  </div>
</div>