<%= render "shared/header" %>

<li class="stack">
 <%= link_to stack_path(@stack.id) do %>
 <p><%= @stack.user.nickname %></p>
 <p><%= @stack.text %></p>
 <p><%=time_ago_in_words(@stack.created_at)%>前のちりつも</p>
  <% if user_signed_in? && (current_user.id == @stack.user_id) %>
    <%= link_to '編集', edit_stack_path(@stack.id), method: :get %>
    <%= link_to '削除', stack_path(@stack.id), method: :delete %>  
  <% end %>
<% end %> 

<%# コメント投稿＆一覧表示 %>
 <p class="container">
   <% if user_signed_in? %>
     <%= form_with(model: [@stack, @comment], local: true) do |f| %>
       <%= render 'shared/error_messages', model: f.object %>
       <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>
       <%= f.submit "送信" %>
     <% end %>
   <% end %>
   <p class="comments">
    <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname %>：</strong>
          <%= comment.text %>
          <% if user_signed_in? && (current_user.id == comment.user_id) %>
          <strong><%= link_to "削除する", stack_comment_path(comment.id), method: :delete %></strong>
          <% end%>
        </p>
      <% end %>
    </p>   

<%# いいね機能 %>
<h3>いいね件数: <%= @stack.likes.count %></h3>
<% if user_signed_in? && current_user.already_liked?(@stack) %>
  <%= button_to 'いいねを取り消す', stack_like_path(@stack), method: :delete %>
<% else %>
  <%= button_to 'いいね', stack_likes_path(@stack) %>
<% end %>
<h2>いいねしたユーザー</h2>
<% @stack.liked_users.each do |user| %>
  <li><%= user.nickname %> さん</li>
<% end %>
  </p>
</li>


