<% if user_signed_in? && current_user.already_liked?(@stack) %>
  <%= link_to stack_likes_path(@stack), method: :delete, remote: true do %>
  <i class="fas fa-heart unlike-btn"></i>
  <%= @stack.likes.count %>
  <%end%>

<% else %>
  <%= link_to stack_likes_path(@stack), method: :post, remote: true do %>
  <i class="far fa-heart like-btn"></i>
  <%= @stack.likes.count %>
  <%end%>
<% end %>
<p><%=time_ago_in_words(@stack.created_at)%>前のちりつも</p>    
</div>  