<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-content">
          <h3>ちりつも数ランキング</h3>
          <% @all_ranks.each.with_index(1) do |user, index| %>
            <li id="rank<%= index %>" class="slider-item" style="list-style-type: none">
              <h4>
                <% if index == 1 %>
                  <i class="fas fa-crown" style="color: #FFD700"></i><%= "第#{index}位" %>
                <% elsif index == 2%>
                  <i class="fas fa-crown" style="color: #AAAAAA"></i><%= "第#{index}位" %>
                <% elsif index == 3%>
                  <i class="fas fa-crown" style="color: #8B4513"></i><%= "第#{index}位" %>
                <%else%>
                  <%= "第#{index}位" %>
                <% end %>
              </h4>
              <p>
                <%= link_to image_tag(user.image.variant(resize_to_fill: [50, 50]), class: 'user-image'),user_path(user.id) if user.image.attached? %><%=user.nickname%>
                （<%= user.category.name%>）
              </p>
              <p>
                ちりつも数合計：<%= user.stacks.where(achieved: 1 ).size %>
              </p>
            </li>
          <% end %>     
        </div>
        </div>
      </div>
    </div>
  </div>
