<div class="container-fluid">
  <div class="row">
  <%# 新規投稿ペン %>
    <%if current_user.id == @user.id%>  
    <div class="article_form">
      <a href="<%= new_stack_path %>">
      <i class="fas fa-pen fa-4x pen"></i></a>
    </div>  
    <%end%>

  <%# 左側 ユーザー情報詳細、今日のちりつも、過去のちりつも %>
    <div class="col-lg-4">
      <div class="card  mb-3 p-3">
      <%#　ユーザー情報詳細 %>
        <div class="card-content">
          <div class="text-center"> 
            <%= image_tag(@user.image.variant(resize_to_fill: [70, 70]), class: 'user-image') if @user.image.attached? %>
            <p><%=@user.nickname %></p>      
          </div>
          <div class="status">
            <div class="mr-3">
              <a href="<%= user_follows_path(@user) %>"  class="following">
              <%= @user.follower.count %>フォロー</a>
            </div>
            <div>
              <a href="<%= user_followers_path(@user) %>"  class="follower">
              <%= @user.followed.count %>フォロワー</a>
            </div>      
          </div>  

          <div class="border-bottom mb-4 pb-4"></div>       
            <div class=profile-parts>
              <p>●ジャンル :</p>
              <p><%= @user.category.name %></p>
            </div>
            <div class=profile-parts>
              <p>●目標 :</p>
              <p><%= @user.goal %></p>
            </div>
            <div class=profile-parts>
              <p>●期日 :</p>
              <p><%= @user.deadline.strftime('%Y年 %m月 %d日') %></p>
            </div>                 

          <div class="text-right">
            <% if user_signed_in? && current_user == @user %>
              <%=link_to edit_user_path(@user) do %>
                <i class="fas fa-user-edit"></i>
              <%end%>
            <%end%>
          </div>                    
        </div>
      </div>

      <div class="card mb-3 p-3">
      <%# 過去のちりつも %>
        <div class="card-content">
          <h3 class="border-bottom mb-4 pb-4">過去のちりつも</h3>
            <div class="achievement">
              <p>●計画したちりつも：</p>
              <p><%=@total_stacks%>件</p>
            </div>
            <div class="achievement">
              <p>●達成したちりつも：</p>
              <p><%=@achieved_stacks.size%>件</p>
            </div>
            <div class="achievement">
              <p>●達成率：</p>
              <p><%=@stack_rate%>％</p>
            </div>
            <div class="achievement">
              <p>●取り組み時間合計：</p>
              <p><%=@stack_time%>時間</p>
            </div>
        </div>
      </div>


    <%# ちりつも合計時間チャート %>
      <div class="card mb-3 p-3">
        <div class="card-content">
          <h3 class="border-bottom mb-4 pb-4">今月のちりつも</h3>
          <div class="chart">
            <%# <%= column_chart @achieved_stacks.group_by_day_of_month(:date, format: "%d").size, xtitle: "日付", ytitle: "ちりつも成功数", min: 0, max: 10%>  %>
          </div>       
        </div>     
      </div>
    </div>

    <%# 画面右側のカード %>
    <div class="col-md-8">
      <%# 今日のちりつも %>
      <%if @today_stacks.exists?%>
      <div class="card mb-3 p-3">
        <h3 class="border-bottom mb-3 pb-4">今日のちりつも</h3>
        <table width="100%">
          <thead>
            <tr>
              <th class='text-center'>ちりつも内容</th>
              <th class='text-center'>取り組み時間</th>
              <th class='text-center'>達成可否</th>
            </tr>
          </thead>
          <tbody>
            <% @today_stacks.each do |today_stack|%>
              <tr>
                <td class='text-center'>
                  <div>
                    <% if today_stack.date.strftime("%Y-%m-%d") == Date.today.strftime("%Y-%m-%d") %>
                      <%= today_stack.text%>
                      <%= link_to edit_stack_path(today_stack.id), method: :get do %>
                      <i class="fas fa-edit"></i>
                      <%end%>  
                    <%end%>  
                  </div>
                </td>
                <td class='text-center'>
                  <%# 取り組み時間が記入している場合は表示 %>
                  <%if today_stack.work_time_id.present? %>
                    <%= today_stack.work_time.name %> 時間
                  <%elsif today_stack.work_time_id.nil? %>
                    --
                  <%end%>
                </td>
                <td class='text-center'>
                  <%if today_stack.work_time_id.present? && today_stack.achieved == true%>
                    <div class="check"><i class="far fa-circle"></i></div>
                  <%elsif today_stack.work_time_id.nil? || today_stack.achieved == false %>
                    <div class="check"><i class="fas fa-times"></i></div>
                  <%end%>
                </td>
              </tr>
            <%end%>
          </tbody>        
        </table>
      </div>   
      <%else%>
      <div class="card mb-3 p-3" style="height: 180px">
        <h3 class="border-bottom pb-4">今日のちりつも</h3>
          <div class="text-center">今日のちりつも予定はありません</div>
          <div class="text-center">今すぐ右下のアイコンからちりつもしよう！</div>
      </div>
      <%end%>
      <%# 過去のちりつもカレンダー %>    
      <div class="card">
         <%= render 'calendar', events: @stacks %>
      </div>
  </div>
</div>