<%# その他項目 %>
  <ul>
  <li><% if user_signed_in? && current_user == @user %>
  <%=link_to "プロフィールを編集する",edit_user_path(@user) %></li>
  <%else%>
  <%end%>
  </ul>


<div class="container-fluid">
  <div class="row">
  <%# ※左の4つぶん %>
    <div class="col-md-4">
      <div class="tasks">
        <h3>今日のちりつも</h3>
        <table width="100%">
          <thead>
            <tr>
              <th class='text-center'>ちりつも内容</th>
              <th class='text-center'>取り組み時間</th>
              <th class='text-center'>達成可否</th>
            </tr>
          </thead>
          <tbody>
            <% @today_stacks.each do |today_stack|%>
              <tr>
                <td class='text-center'>
                  <div>
                    <% if today_stack.date.strftime("%Y-%m-%d") == Date.today.strftime("%Y-%m-%d") %>
                      <%= today_stack.text%>
                      <%= link_to edit_stack_path(today_stack.id), method: :get do %>
                      <i class="fas fa-edit"></i>
                      <%end%>  
                    <%end%>  
                  </div>
                </td>
                <td class='text-center'>
                  <%# 取り組み時間が記入している場合は表示 %>
                  <%if today_stack.work_time_id.present? %>
                    <%= today_stack.work_time.name %> 時間
                  <%end%>
                </td>
                <td class='text-center'>
                  <%if today_stack.work_time_id.present? && today_stack.achieved == true%>
                    <div class="check"><i class="far fa-circle"></i></div>
                  <%elsif today_stack.work_time_id.present?%>
                    <div class="check"><i class="fas fa-times"></i></div>
                  <%end%>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>

<%# fullcalendar今週の予定 %>   
    <div class="col-md-8">
      <h3>今週の予定</h3>
        <div id='calendar'><div>
    </div>  
  </div>
</div>

<div class="container-fluid border">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <%= render 'calendar', events: @stacks %>
    </div>  
  </div>
</div>