<%= render "shared/header" %> 
 
 <%# ユーザーページ一覧 %>
 <div class="top-page">

 <%# 今日のちりつも一覧 %>
  <div class="must-list">
  <h1><%= @today%>のちりつも</h1>
    <ul class="must">
     <% @today_stacks.each do |today_stack|%>
     <li><%= today_stack.text%></li>
    </ul>
    <%end%>
  </div>

  <%# 今週のスケジュール %>
  <%# <div class="schedule">
 <%= render 'schedules/index' %>
  <%# </div> %>

    <%# 今月のちりつも %>
    <h1><%= @month%>月のちりつも</h1>
 <%= render 'calendar', events: @stacks %>

<%# その他項目 %>
  <ul>
  <li><% if user_signed_in? && current_user == @user %>
  <%=link_to "プロフィールを編集する",edit_user_path(@user) %></li>
  <%else%>
  <%end%>
  </ul>

</div>
