<header>  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to image_tag("mountain 2.png", class:"mountain-icon"), "/" %>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to '予定を見る', "/users/#{current_user.id}/schedules", class: "nav-link" %></li> 
          <li class="nav-item"><%= link_to '積み上げる', new_stack_path, class: "nav-link" %></li> 
          <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %></li> 
          <li class="nav-item"><%= link_to image_tag(current_user.image.variant(resize_to_fill: [55, 55]), class: 'user-image'), user_path(current_user.id) %></li> 
        <% else %>
          <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: "nav-link" %></li>
        <% end %>
       </div>
      </div>
    </div>
  </nav>
</header>

