<div class="fixed-bottom" id="footer">  
  <%= form_with model: [@room, @chat], local: false do |f| %>
    <input name="user_room[user_id][]" type="hidden" value=<%=current_user.id%>>
    <input name="user_room[room_id][]" type="hidden" value=<%=@room.id%>>

    <div class="form-group">
      <%= f.text_area :message, class: 'form-control', rows: '1', maxlength: '500' %>
    </div>

    <div class="form-group">
      <%= f.submit '送信', class: 'btn btn-primary btn-block disabled', id: 'chat-button' %>
    </div>
  <% end %>
</div>