<div class="card mb-3">
  <h3><%= link_to room.name, room_path(room.id), class: "link" %></h3>
  <% if room.image.attached?%>
    <p class="image"><%= image_tag(room.image.variant(resize_to_fill: [150, 150]), class: 'room-image') %></p>
  <%else%>
    <p class="image"><%= image_tag "default-Room.png", size:  "150x150" %></p>
  <%end%>

  <% if @user_rooms.where(user_id: current_user,room_id: room.id).exists?%>    
    <p class="alert alert-success text-right">このコミュニティに参加しています</p>
  <%elsif user_signed_in?%>
    <%= form_with(url: "/rooms/#{room.id}/join", method: :get, remote: true) do |f| %>
      <%= f.submit "相談所に参加"%>                
    <%end%>
  <%else%>
     <p>※※ルームの閲覧にはログインが必要です※※</p>
  <%end%>   
  <% if user_signed_in? %>           
  <p>会話数 : <%=room.chats.size%></p>
    <p>メンバー : <%=room.users.size%>人が参加中</p>      
      <% if room.user_id == current_user.id%>
        <p>あなたはルームのオーナーです</p>
          <%= link_to room_path(room.id), method: :delete do%>
            <i class="fas fa-trash-alt" style="font-size: 30px"></i>
          <%end%>    
          <%= link_to edit_room_path(room.id) do%>
            <i class="fas fa-edit" style="font-size: 30px"></i>
          <%end%>                                    
      <%end%>   
      <%end%>     
</div>