<div class="container-fluid">
  <div class="row">
    <%# ルーム新規作成 %>
    <div class="col-md-4">
      <%= form_with model: @room do |f| %>
        <%= f.label :部屋名 %>
        <%= f.text_field :name %>
        <%= f.submit "ルーム作成"%>
      <% end %>
    </div>
    <%# ルーム一覧表示 %>
    <div class="col-md-8">
      <div class="card">
        <h3>ルーム一覧</h3>
          <ul>
            <% @rooms.each do |room| %>
              <li><%= link_to room.name, room_path(room.id) %></li>
            <% end %>
          </ul>
      </div>
    </div>    
  </div>
</div>