<h3 class="container-fluid sticky-top"><%= @room.name%></h3>

<%if current_user.id == @room.user_id%>
  <p>あなたはルームのオーナーです</p>
<% elsif @user_rooms.where(room_id: @room.id, user_id: current_user ).exists? %>
<%= form_with(url: user_room_path(@user_room), local: true, method: :delete) do |f| %>
  <%= f.submit "脱退する"%>
<%end%>
<%else%>
<%= form_with(url: join_room_path, local: true, method: :get) do |f| %>
  <%= f.submit "チャットに参加"%>
<%end%>
  <%end%>

<div id="chat-container" data-room_id = "<%= @room.id %>">
  <%= render @chats %>
</div>
<%= render 'footer' %>